.boton-contenedor{
height: 83px;
display: flex;
flex: 1 1;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 38px;
background-color: deepskyblue;
color: black;
border-radius: 25px;
border:2px solid black;
margin: 4px;
cursor: pointer;
user-select: none;
}
.boton-contenedor:hover{
    background-color: rgb(25, 167, 167);
}
.boton-contenedor.operador{
background-color: blueviolet;
}
.boton-contenedor.operador:hover{
    background-color: rgb(106, 38, 170);
    }